@black: #0F0F0F;
@blacklight: #2a2a2a;
@white: #fff;
@primary: #F1F1F1;
@secondary: #A9A9A9;
@tertiary: #1d1d1d;
@tertiarylight: #2a2a2a;
@blue: rgb(0, 106, 167);
@yellow: #fecc00;

@mp-a: 12px;
@mp-b: 20px;
@mp-c: 30px;
@mp-d: 40px;
@mp-e: 60px;
@mp-f: 100px;

.placeholder(@rules) {
    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}

.fs-xs {
	font-size: 13px;
	line-height: 16px;
}

.fs-s {
	font-size: 16px;
	line-height: 20px;
}

.fs-m {
	font-size: 18px;
	line-height: 18px;
}

.nobr { 
	white-space: nowrap; 
}

.hidden {
	display: none;
}

.transparent {
	opacity: 0;
	z-index: -1;
	user-select: none;
	pointer-events: none;
}

.white {
	color: @white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.black {
	color: @black;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

.noclick {
	opacity: 0.5;
	pointer-events: none;
}

.br {
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 4s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 4s infinite;
  
  /* Standar Syntax */
  animation: rainbow 4s infinite; 
}

.spin {
	animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin { 
from { 
    -ms-transform: rotate(0deg); 
} to { 
    -ms-transform: rotate(360deg); 
}
}
@-moz-keyframes spin { 
from { 
    -moz-transform: rotate(0deg); 
} to { 
    -moz-transform: rotate(360deg); 
}
}
@-webkit-keyframes spin { 
from { 
    -webkit-transform: rotate(0deg); 
} to { 
    -webkit-transform: rotate(360deg); 
}
}
@keyframes spin { 
from { 
    transform: rotate(0deg); 
} to { 
    transform: rotate(360deg); 
}
}

